# Dependencies
node_modules/
.pnp
.pnp.js

# Build files
dist/
build/
.serverless/
.fusebox/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Local Netlify folder
.netlify

# Credentials
# google-service-account.json
attached_assets/*.json
*.tar.gz

# Local development
# .server/google-service-account.json
